// All rules regardless of orientation
.table-top {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.game-board {
  display: block;
}

.grid-container {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
}

.size-4 .grid-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.size-3 .grid-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

// For Landscape orientation
@media screen and (orientation: landscape) {
  .table-top {
    justify-content: space-evenly;
    grid-template-rows: 1fr;
  }

  @media screen and (max-height: 450px) {
    .table-top {
      grid-template-columns: repeat(2, 77vh);
    }
  }

  @media screen and (min-height: 451px) {
    .table-top {
      grid-template-columns: 3fr 2fr;
    }
  }

  .size-4 .shelf-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .size-3 .shelf-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

// For portrait orientation
@media screen and (orientation: portrait) {
  .table-top {
    // grid-template-rows: 3fr 1fr;
    justify-content: space-evenly;
  }

  .shelf-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .flex-cell {
    padding: 2px;
  }
}

.flex-cell {
  box-sizing: border-box;
}

.tile {
  flex-shrink: 1;
  display: block;
}

.tile-image {
  width: 100%; // height: 90%;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
}

.hints-active {
  .hint-correct {
    -webkit-box-shadow: 0px 0px 4px 4px rgba(104, 243, 62, 0.75);
    -moz-box-shadow: 0px 0px 4px 4px rgba(104, 243, 62, 0.75);
    box-shadow: 0px 0px 4px 4px rgba(104, 243, 62, 0.75);
  }

  .hint-close {
    -webkit-box-shadow: 0px 0px 4px 4px rgba(115, 82, 238, 0.976);
    -moz-box-shadow: 0px 0px 4px 4px rgba(115, 82, 238, 0.75);
    box-shadow: 0px 0px 4px 4px rgba(115, 82, 238, 0.75);
  }

  .hint-incorrect {
  }
}
