// For Landscape orientation
@media screen and (orientation: landscape) {
  .table-top {
    display: grid;
    grid-template-columns: repeat(2, 77vh);
    justify-content: space-evenly;
    grid-template-rows: 1fr;
    column-gap: 10px;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .game-board {
    display: block;
  }

  .shelf-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .shelf {
    display: block;
    max-width: 50%;
    max-height: 75vh;
  }

  .tiles {
    display: flex;
    flex-flow: row wrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

// For portrait orientation
@media screen and (orientation: portrait) {

}


.flex-cell {
  padding: 0.5rem;
  box-sizing: border-box;
}

.tile {
  flex-shrink: 1;
  display: block;
}

.tile-image {
  width: 100%; // height: 90%;
}
